<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logistics.mapper.GoodsMapper">
    <insert id="insertGoods">
        insert into goods(id, name, volume, weight,tem,hum, price, goods_pic,status, user_id) value (#{id},#{name},#{volume},#{weight},#{tem},#{hum},#{price},#{goodsPic},1,#{userId})
    </insert>

    <update id="updateGoods">
        update goods
        <set>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
            <if test="volume!=null">
                ,volume=#{volume}
            </if>
            <if test="weight!=null">
                ,weight=#{weight}
            </if>
            <if test="tem!=null">
                ,tem=#{tem}
            </if>
            <if test="hum!=null">
                ,hum=#{hum}
            </if>
            <if test="price!=null">
                ,price=#{price}
            </if>
            <if test="goodsPic!=null">
                ,goods_pic=#{goodsPic}
            </if>
            <if test="status!=null">
                ,status=#{status}
            </if>
            where id=#{id}
        </set>
    </update>

    <delete id="deleteGoodsById">
        delete from goods where id=#{id};
    </delete>

    <select id="getGoodsListByUserId" resultType="com.logistics.entity.Goods">
        select goods.*,refrigerate_room.name as rmName,refrigerate_room.id as rmId
        from goods
        left join (room_goods left join refrigerate_room on room_goods.rm_id=refrigerate_room.id and room_goods.status=1)
        on goods.id = room_goods.goods_id
        <where>
            user_id=#{userId}
            <if test="name!=null and name!=''">
                and goods.name like concat('%',#{name},'%')
            </if>
            <if test="id!=null and id!=''">
                and goods.id like concat('%',#{id},'%')
            </if>
        </where>
    </select>

    <select id="selectGoodsAll" resultType="com.logistics.entity.Goods">
        select goods.*, user.name as userName,user.id as userId, refrigerate_room.name as rmName,refrigerate_room.id as rmId
        from (goods left join (room_goods left join refrigerate_room on room_goods.rm_id=refrigerate_room.id and room_goods.status=1) on
        room_goods.goods_id=goods.id),
        user
        <where>
            user.area_id = #{areaId}
            and goods.user_id = user.id
            <if test="name!=null and name!=''">
                and goods.name like concat('%',#{name},'%')
            </if>
            <if test="id!=null and id!=''">
                and goods.id like concat('%',#{id},'%')
            </if>
            <if test="userName!=null and userName!=''">
                and user.name like concat('%',#{userName},'%')
            </if>
        </where>
    </select>

    <select id="detailGoodsByIdLinkRefrigerate" resultType="com.logistics.entity.Goods">
        select goods.*, refrigerate_room.id as rmid, refrigerate_room.name as rmName,user.name as userName
        from user,(goods
                 left join
             (room_goods left join refrigerate_room on room_goods.rm_id = refrigerate_room.id and room_goods.status=1)
             on goods.id = room_goods.goods_id)
        where goods.id =#{id}
        and user.id=goods.user_id;
    </select>

    <select id="selectGoodsAllForShopping" resultType="com.logistics.entity.Goods">
        select goods.*, user.name as userName,refrigerate_room.name as rmName
        from (goods left join (room_goods left join refrigerate_room on room_goods.rm_id=refrigerate_room.id and room_goods.status=1) on
        room_goods.goods_id=goods.id),
        user
        <where>
            user.area_id = #{areaId}
            and goods.user_id = user.id
            and goods.user_id!=#{userId}
            and (goods.status=4 or goods.status=5)
            <if test="name!=null and name!=''">
                and goods.name like concat('%',#{name},'%')
            </if>
            <if test="id!=null and id!=''">
                and goods.id like concat('%',#{id},'%')
            </if>
        </where>
    </select>

</mapper>